@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root {
    --bg-color: #02a367;
}

* {
    font-size: 100%;
    font-family: 'Montserrat';
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a:focus,
a:active,
a:hover {
    color: #fff !important;
}

.view_all:focus,
.view_all:active,
.view_all:hover {
    color: var(--bg-color) !important;
}


/* html {
    font-size: 62.5%;
} */

body,
input,
p,
a,
label {
    font-family: "Montserrat", sans-serif;
    color: rgb(143, 143, 143);
}

body {
    height: 100%;
}

.body_explore {
    padding-bottom: calc(9rem + 8.5rem);
}

.parent_explore {
    width: 100vw;
    height: 50vh;
    background-color: #fff;
}


/* .main_explore{
    width: 100vw;
    height: 50vh;
} */

.navbar {
    background-color: var(--bg-color);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 1.5rem;
}

.navbar .head {
    font-weight: normal;
    font-size: 1.2rem;
}

.search {
    height: 2.5rem;
    width: 10rem;
    font-size: 2rem;
    color: #fff;
    background-color: var(--bg-color);
    outline: none;
    border: none;
    font-weight: lighter;
    border-bottom: 2px solid #fff;
}

.search::placeholder {
    color: #fff;
    font-weight: lighter;
}

.nav_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navicons {
    width: 1.2rem;
    margin-left: 30px;
}


/* ==============cart bottom bar=========================== */

.cart_bottom {
    position: fixed;
    bottom: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    height: 5rem;
    border-top: 1px solid grey;
}

.left_cart {
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 1rem;
}

.right_cart {
    flex: 6;
    text-align: end;
    margin-right: 1rem;
}

.left_cart * {
    /* margin: 0 1rem; */
}

.cart_icon {
    height: 2rem;
    width: 2rem;
}

.item_list {
    font-size: 0.8rem;
    font-weight: bold;
}

.saved {
    font-size: 0.8rem;
    color: var(--bg-color);
    background-color: #cff7e8;
    border-radius: 8px;
    padding: 0.2rem 0.6rem;
}

.pay {
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--bg-color);
    border-radius: 25px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;
}

.bottom_div a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0;
    /* font-weight: 800; */
}

.bottom_div a p {
    font-size: 1.2rem;
    font-weight: 800;
}


/* ==============bottom bar=========================== */

.bottom_div {
    position: fixed;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    height: 5rem;
    border-top: 1px solid grey;
}

.bottom_div a img {
    height: 1.7rem;
    /* width: 3rem; */
}

.bottom_div a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0;
    /* font-weight: 800; */
}

.bottom_div a p {
    font-size: 0.8rem;
    font-weight: 800;
    margin-top: 5px;
}

.child_explore {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_section {
    position: absolute;
    padding: 2rem 1rem;
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, #f0fadd, white);
    /* height: 80px; */
}

.view_all {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

.line {
    width: 30%;
    height: 1px;
    background-color: var(--bg-color);
    border-style: none;
    opacity: 0.5;
}

.items {
    height: auto;
    /* width: 80rem;     */
    overflow-x: auto;
    display: flex;
    align-items: baseline;
    padding-top: 50px;
}

.item {
    height: auto;
    width: 25rem;
    padding: 1rem 0rem;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.items::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

.items::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    box-shadow: 4px 0 5px rgb(99, 247, 99);
}

.sub_head {
    font-size: 1.4rem;
    font-weight: bold;
}

.image {
    position: relative;
}

.item .image img {
    width: 9rem;
    height: 8rem;
    padding: 5px;
    /* background-color: #fff; */
}

.add {
    position: absolute;
    right: -0.3rem;
    bottom: -0.3rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--bg-color);
    outline: none;
    border: none;
}

.item .product_name {
    font-size: 1.1rem;
    font-weight: 700;
}

.item .amount {
    font-size: 0.9rem;
    font-weight: 400;
    color: lightslategray;
}

.item .price_offer {
    display: flex;
    margin-top: 10px;
}

.item .price_offer .price {
    font-size: 1rem;
    font-weight: 1000;
    margin-right: 5px;
}

.item .price_offer .offer .overline {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: line-through;
}

.item .price_offer .offer .save {
    font-size: 0.8rem;
    font-weight: 500;
    color: blue;
}

.offer {
    /* padding-top: 5px; */
}


/* ====================================cartpage============================ */

.navbar_cart {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 2rem;
}

.icons {
    font-size: 3rem;
    color: #000;
}

.search_cart {
    height: 2.5rem;
    width: 25rem;
    font-size: 2rem;
    outline: none;
    border: none;
    font-weight: lighter;
    border-bottom: 1px solid #000;
}

.cart_parent_explore {
    display: none;
    height: auto;
    width: 100vw;
    background-color: #fff;
}

.empty_div {
    height: 10rem;
    display: grid;
    place-items: center;
}

.empty_cart {
    font-size: 1.5rem;
    font-weight: 400;
}

.cart_head {
    padding: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px grey;
}

.cart_head img {
    height: 6rem;
    width: 6rem;
}

.cart_head_title {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.cart_head_title h1 {
    font-size: 1.5rem;
}

.cart_head_title p {
    font-size: 1.5rem;
    font-weight: 400;
}

.cart_item_list {
    margin: 1.5rem 0;
    padding: 0 1rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px grey;
}

.cart_left {
    display: flex;
    justify-content: start;
}

.cart_left img {
    height: 9rem;
    width: 10rem;
    margin-right: 1rem;
}

.cart_left_content * {
    margin-bottom: 2rem;
}

.cart_left_content h1 {
    font-size: 1.5rem;
}

.cart_left_content h4 {
    font-size: 1rem;
    color: var(--bg-color);
}

.cart_left_content {
    font-size: 1rem;
    /* color: var(--bg-color); */
}

.cart_left_content p {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(83, 160, 248);
}

.cart_right_content {
    height: 9rem;
}

.cart_right_content p {
    font-size: 0.8rem;
}

.cart_main_price span {
    font-size: 1.3rem;
    font-weight: 800;
}

.item_hide {
    display: none;
}

.categories_main {
    display: none;
}

.switch_categories {
    display: flex;
    align-items: center;
    height: 10rem;
    overflow-x: auto;
}

.switch_categories button {
    margin: 0 1rem;
    padding: 0 2rem;
    min-width: fit-content;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 40px;
    outline: none;
    border: none;
}

.active {
    background-color: rgb(93, 250, 172);
}


/* =================dropdown==================== */

.category_title {
    border: none;
    background-color: inherit;
    font-size: 2.5rem;
    font-weight: 600;
    /* margin-right:1rem; */
}

.dropdown {
    display: flex;
    position: relative;
}

.dropdown_content {
    /* display: none; */
    background-color: #fff;
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    box-shadow: 0px 0px 4px grey;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transform: translateY(-15px);
    display: none;
    pointer-events: none;
    transition: 1s all;
}

.dropdown_content button {
    /* box-shadow: 0px 0px 4px grey; */
    border-bottom: 1px solid grey;
    width: 30rem;
    display: flex;
    align-items: start;
    font-size: 2rem;
    font-weight: 500;
    outline: none;
    /* margin-right:1rem; */
    padding: 1rem 1rem;
}

.dropdown_content button:hover {
    color: #fff;
    background-color: rgb(85, 218, 151);
    width: 100%;
}

.dropdown>.category_title:focus+.dropdown_content {
    display: block;
    transform: translateY(0);
    pointer-events: auto;
}


/* Open Cart Page */

.navbar_cart>a>i,
.navbar_cart>i {
    font-size: 1.5rem;
}

.search_cart {
    margin: 15px;
    font-size: 1rem;
}

.cart_parent_explore>.cart_head>img {
    width: 9rem;
    height: 8rem;
    padding: 5px;
}